<!doctype html>
<html>
<head>
<title>F*x Snooze</title>
<style type="text/css">
body {
  color: #888;
  font-family: "Georgia", serif;
  text-align: center;
  padding: 1em;
  margin: 3em 1em 1em 1em;
}
q {
  display:block;
  width:80%;
  margin:0 auto;
  font-size: 60px;
}
hr {
  margin: 3em auto;
  width: 30%;
  border-top: 1px solid #ccc;
  border-bottom: 0px;
}
a.btn {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  border: 1px solid #aaa;
  color: #333;
  text-decoration:none;
}
</style>
</head>
<body>
  <q>{{ quote }}</q>
  <p><a class="btn" href="/">Get another?</a></p>
  <hr/>
  <p>Markov-generated quotes, powered by <a href="https://github.com/bradmontgomery/shaney">Mark V. Shaney</a>.</p>
</body>
</html>
